.body-background{
    background-image: url("https://previews.123rf.com/images/arybickii/arybickii1804/arybickii180400001/98793087-old-guitar-in-empty-room-music-background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    min-width: 910px;
}
.header{
    width: 100%;
    margin-top: 0px;
    font-size: 35px;
    font-family: 'Aladin', cursive;
}
.player{
    height: 100px;
    width: 100px;
}
#player_1{
    float: left;
    margin-left: 20px;
}
#player_2{
    float: right;
    margin-right: 20px;
}
.music_icon{
    height: 45px;
    width: 35px;
}
.note{
    font-family: 'Merriweather', serif;
    color: rgb(37, 37, 37);
    font-size: 15px;
}
.song_name{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    box-shadow: 5px 5px 10px blue;
}
#song{
    font-family: 'Merienda', cursive;
    font-size: 20px;
}
.speaker-1, .speaker-2{
    height: 75px;
    width: 75px;
    animation-name: beat;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
@keyframes beat {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}
.song-controls{
    width: 40%;
    height: 75px;
    margin-top: 475px;
    border: 3px solid black;
    background-color: yellow;
    box-shadow: 5px 5px 5px gray;
}
.profile{
    height: 65px;
    width: 65px;
    border-radius: 10px;
    float: left;
    margin-top: 1.5px;
    margin-left: 2.5px;
    border: 2px solid black;
}
.download{
    float: right;
    background-color: yellow;
    border: none;
    margin-top: 1px;
    margin-right: 2.5px;
}
#music_name{
    float: left;
    margin-left: 10px;
    font-size: 20px;
}
#music_type{
    float: left;
    margin-left: 10px;
    margin-top: -13.5px;
}
#credits{
    float: left;
    margin-left: 10px;
    margin-top: -13.5px;
}
#play_rock_music{
    margin-right: 5px;
}
#play_ambient_music{
    margin-left: 5px;
}
.copyright-footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    color: white;
    height: 50px;
    font-size: 22px;
    font-family: 'Inika', serif;
}
canvas{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px gray;
}